$cellSize: 28px;

.board {
    user-select: none;

    &__row,
    &__col {
        position: relative;
        &:focus-within {
            z-index: 2;
        }
    }

    &__row {
        display: flex;
        padding: 2px 0;
    }

    &__col {
        padding: 0 2px;
    }

    &__cell {
        border-radius: 4px;
        background-color: #22222280;
        height: $cellSize;
        width: $cellSize;
        text-align: center;
        line-height: $cellSize;
        border: none;
        outline: none;
        font-weight: 800;
        cursor: default;
    }

    &--active {
        input.board__cell {
            background-color: rgb(41, 39, 29);
            color: white;
            cursor: pointer;
            transition: .2s transform;

            &:hover,
            &:focus {
                background-color: #22222280;
            }
    
            &:focus {
                box-shadow: 0 0 10px rgba(235, 250, 19, 0.8);
                transform: scale(1.3);
            }
        }
    }
}
