.app {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.main {
  width: 450px;
}

.sidebar {
  align-content: stretch;
  background-color: #222;
  display: flex;
  flex-direction: column;
  width: 240px;
}
