h1 {
  font-weight: 800;
  font-size: 1.7em;
  margin: 1.5em 0;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.app {
  padding: 16px;
}

.logo {
  max-width: 100%;
}

.dictionary {
  margin: 30px 0;
  text-align: center;

  & > div {
    margin: 5px;
  }
}